* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
}

body {
    position: relative;
}

    /* navBar */

.nav-phone {
    padding: 0;
    height: 141px;
    background-color: white !important; 
}

a {
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: rgba(22, 22, 22, .6);
}

.navbar-brand {
    width: 122px;
    margin: 0;
    margin-left: 6.95vw;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    opacity: .9;
}

.nav-button {
    border: none;
}

.collapse-button {
    margin-top: 5px;
}

.nav-link {
    padding: 0 !important;
    height: 22.14px;
}

.item1 {
    width: 129.8px;
    margin: auto 35.9px auto 50.4px;
}

.item2 {
    width: 86.8px;
}

.item3 {
    margin: auto 43.9px auto 40.9px;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line {
    height: 62.93px;
    margin: auto 23.7px auto 26.2px;
    border-left: 1px solid rgba(19, 160, 254, 1);
}

.signup {
    width: 127px;
    height: 59px;
    margin-right: 10.44vw; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgba(19, 160, 254, 1);
}

.item6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);   
}

@media only screen and (max-width: 1110px) {
    
    .signup {
        margin-right: 5vw;
    }
}
        /* Responsive-medium and small screen */

@media only screen and (max-width: 991.95px) {

    .nav-phone{
        display: inline-block;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60%;
        z-index: 2;
    }
    
    .nav-button {
        float: right;   
    }

    .collapse-menu {
        width: 100%;
        margin-top: 40px;
    }

    .nav-link {
        margin: 20px 0;
    }

    .left-side {
        width: 100%;
        align-items: center;
    }

    .right-side {
        flex-direction: column;
        align-items: center;
    }

    .line {
        display: none;
    }

    .signup {
        margin: 0;
        width: 50vw;
    }
}

        /* end- navBar */

        /* header */

.header {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(19, 160, 254, 1);
}

.header-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 79px;
    top: 34px;
    left: 161px;   
    width: 1071px;
    height: 498px;
    padding: 0; 
}

.left-menu {
    width: 259.97px;
}

.right-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: -6px auto 0 auto;
    font-family: 'Gotham', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    opacity: .9;
}

span.big-title {
    font-family: 'Roboto Slab', serif;
    padding: 0 5px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 1px;
    text-align: left;
    color: white;
    background-color: rgb(94,187,252);
    opacity: .9;
}

h1.second-line {
    font-family: 'Gotham', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 27px;
    margin: 40px auto 51px 0;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.logo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 72px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(19, 160, 254, 1);
}

.android,
.ios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.4px;
    width: 132.8px;
    height: 32.6px;
}

.img-logo {
    width: 30.3px;
    height: 100%;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 4.4px;
    height: 100%;
}

.small-title {
    font-family: 'Gotham', sans-serif;
    font-size: 9px;
    color: white;
    opacity: .9;
    margin-bottom: 0;
    line-height: 0;
}

.big-title {
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    opacity: .9;
    margin-bottom: 0;
    line-height: 0;
}

        /* Responsive-largeScreen */

@media only screen and (min-width: 1442px) {

    .header-menu {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media only screen and (max-width: 1294.95px) {

    .header-menu {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1169.95px) {

    .header-menu {
        gap: 25px;
        width: 991px;
    }
}

        /* Responsive-mediumScreen */

@media only screen and (max-width: 991.95px) {

    .header {
        width: 100%;
        height: 500px;
    }

    .header-menu {
        width: 100%;
        height: 80%;
        margin-left: 0;
    }

    .left-menu {
        display: none;
    }

    .right-menu {
        width: 100%;
        align-items: center;
    }

    h1 {
        text-align: center;
        line-height: 36px;
    }

    h1.second-line {
        margin: 40px auto 51px auto;
        line-height: 10px;
    }
}

        /* Responsive-phone  */

@media only screen and (max-width: 699.95px) {

    .header {
        height: 400px;
    }

    .header-menu {
        top: 45px;
    }

    .right-menu {
        justify-content: flex-start;
    }

    h1, 
    span.big-title {
        font-size: clamp(18px, 5vw, 40px);
        line-height: 40px;
    }

    h1.second-line {
        font-size: clamp(13px, 4vw,28px);
        margin: 15px auto 40px auto;
    }

    .logo {
        flex-direction: column;
        gap: 20px;
    }

}

        /* end header */

        /* sponsor */

.sponsor {
    position: relative; 
    padding: 0;
    background: rgba(48, 48, 255, .2);
    height: 178px;
}

.sponsor-item {
    position: absolute;
    padding: 0;
    max-width: 915px;
    top: 8px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    align-items: center;
}

.image-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.digit {
    margin-left: -1px;
    margin-right: 1.7px;
}

.venox {
    margin-right: 1px;
}

        /* responsive-phone */

@media only screen and (max-width: 724.95px) {

    .sponsor {
        height: 100px;
    }

    .sponsor-item {
        width: 100%;
        top: 20px;
    }

    .image-list {
        justify-content: space-evenly;
    }

    .image1 {
       max-width: 90px;
       width: 20vw;
       min-width: 50px;
    }
}

    /* end-Sponsor */

    /* Objects */

.object {
    position: relative;
    width: 100%;
    height: 619px;
}

.object-menu {
    position: absolute;  
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 972px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    align-items: center;
}

h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
}

h3 {
    font-family: 'Gotham', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
}

h2.object-item, 
h3.object-item {
    text-align: center;
}

h2.object-item {
    width: 660px;
    height: 137px;
    margin-bottom: 0;
}

h3.object-item {
    width: 974px;
    height: 175px;
    margin: 30px auto;
}

.gender {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10.6px;  
    width: 100%;
    margin-bottom: 0;
}

        /* medium and small screen */

@media only screen and (max-width: 991.95px) {

    .object,
    .object-menu {
        position: unset;
    }

    .object {
        height: fit-content;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .object-menu {
        gap: 40px;
        width: auto;
        margin: 0 auto;
    }

    h2 {
        font-size: clamp(18px, 4vw, 40px);
        cursor: pointer;
    }

    h3 {
        font-size: clamp(14px, 3vw,28px);
        margin-top: 10px !important;
    }

    h2.object-item,
    h3.object-item {
        width: auto;
        height: auto;
        line-height: 40px;
    }

    .image2 {
        max-width: 90px;
        width: 20vw;
        min-width: 50px;
    }  
}

    /* end object */

    /* Features */

.features {
    position: relative;
    height: 1670px;
}

.feature-menu {
    max-width: 1242px;
    width: 91.6%;
    height: 1618px;
    padding: 0;
}

h2.title {
    text-align: center;
    margin-bottom: 64px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.feature-item1, 
.feature-item2, 
.feature-item3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 100%;
    height: 481px;
    background-color: rgba(18, 158, 252, 0.1);  
}

.feature-item2 {
    flex-direction: row-reverse;
}

.image3 {
    max-width: 542px;
    width: 45%;
}

.feature-info1 {
    max-width: 553px;
    width: 100%;
}

@media only screen and (max-width: 1299.95px) {

    .feature-item1, 
    .feature-item2, 
    .feature-item3 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
        /* medium screen */

@media only screen and (max-width: 991.95px) {

    .features {
        position: unset;
        width: 100%;
        height: fit-content ;
    }

    .feature-menu {
        height: auto;
        padding: auto 5px;
    }

    .feature-item {
        gap: 25px;
    }

    .feature-item1, 
    .feature-item2, 
    .feature-item3 {
        height: 45vw;
        gap: 20px;
    }
}

        /* Small screen ---setting background opacity */

@media only screen and (max-width: 700px) {

    .feature-menu {
        height: auto;
    }

    .feature-item1, 
    .feature-item2, 
    .feature-item3 {
        position: relative;
        flex-direction: column;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vw;            
        background-position: center;
        background-color: white;
    }
    
    .feature-item1::before {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url(img/transaction.svg);
        content: "";
        background-size: cover;       
        opacity: 0.5;
        border-radius: 20px;
    }

    .feature-item2::before {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
        background-image: url(img/safety.svg);
        content: "";
        background-size: cover; 
        border-radius: 20px;
    }

    .feature-item3::before {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url(img/cashless.svg);
        content: "";
        background-size: cover;       
        opacity: 0.5;
        border-radius: 20px;
    }

    .feature-info1::after {
        width: 100%;
        position: absolute;
        content: "";
        background-size: cover;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    
    .image3 {
        display: none;
    }

    .feature-info1 {
        margin-top: 0;
        text-align: center;      
        transform: scale(1);
        overflow: hidden;
        color: #121111;
        opacity: 1;
    }
}

    /* end Features */

    /* Promo */

.promo {
    position: relative;
    width: 100%;
    height: 768px;  
}

.promo-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: 76.4%;
    height: 71%; 
    margin: 85px auto auto auto;
    padding: 0;
}

.promo-items {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.promo-item1, 
.promo-item2, 
.promo-item3 {
    position: relative;
    width: 345px;
    height: 436px;
}

.promo-item1 {
    background-color: rgba(18, 158, 252, 1) ;
}

.promo-item2 {
    background-color: rgba(254, 128, 140, 1) ;
}

.promo-item3 {
    background-color: rgba(101, 213, 141, 1) ;
}

.promo-title {
    width: 164px;
    height: 60px;
    margin: 0 auto 50px auto !important; 
}

h4 {
    font-family: 'Gotham', sans-serif;
    margin-top: 76px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

span.underline-text {
    font-family: 'Gotham', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: underline !important;
}

.promo1,
.promo2,
.promo3 {
    max-width: 301px;
}

.promo2,
.promo3 {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.promo1 {
    position: absolute;
    bottom: 0;
    width: 50%; 
}

.promo2 {
    width: 80.5%;
}

.promo3 {
    bottom: 9px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    h4 {
        font-size: 24px;
    }
}
        /* Medium screen */

@media only screen and (max-width: 991.95px) {

    .promo {
        height: 1610px;
    }

    .promo-items {
        flex-direction: column;
    }

    .promo-item1,
    .promo-item2,
    .promo-item3 {
        width: 80%;
        margin: 0 auto;
    }

    .promo1 {
        width: 19vh;
    }
}   
        /* Small screen */

@media only screen and (max-width: 768px) {
    
    .promo-menu {
        margin-top: 50px;
    }

    h4,
    span.underline-text {
        font-size: clamp(14px, 4vw,28px);
    }
}
        /* extra-small screen */

@media only screen and (max-width: 560px) {

    .promo {
        height: 820px;
    }

    .title {
        margin-bottom: 40px !important;
    }
    
    .promo-item1,
    .promo-item2,
    .promo-item3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        border-radius: 15px;
    }

    h4 {
        margin-top: 0;
    }

    .promo1,
    .promo2,
    .promo3 {
       display: none;
    } 
}

    /* end Promo */

    /* footer */

.footer {
    position: relative;
    width: 100%;
    height: 412px;
    background-color: rgba(19, 160, 254, 1);
}

.footer-menu {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
    width: 78.1%;
    height: 250px; 
    margin: 104px auto auto auto; 
    padding: 0; 
}

.learnMore-social {
    display: flex;
    flex-direction: row;
    gap: 122px;
}

.learn-more, 
.social, 
.download-button {
    display: flex;
    flex-direction: column;
}

h5 {
    margin-bottom: 30px;
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.footer-link {
    margin-bottom: 10px;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
}

#email {
    width: 245px;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
}

.registerbtn {
    width: 71px;
    height: 50px;
    background-color: rgba(0, 112, 187, 1);
    border-radius: 0;
}

.logo-download {
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 1440px) {

    .footer-menu {
        width: 98%;
    }

    .footer-menu,
    .learnMore-social {
        gap: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-menu,
    .learnMore-social {
        gap: 70px;
    }
}

        /* medium and lower screen */

@media only screen and (max-width: 991.95px)  {

    .footer {
        height: 760px;
    }

    .footer-menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        margin: 60px auto auto auto;
    }

    .learnMore-social {
        gap: 200px;
    }

    .learn-more, 
    .social {
        align-items: center;
    }

    h5 {
        text-align: center;
    }

    .subcribe {
        width: 60%;
    }

    #email {
        width: 90%;
        font-size: clamp(14px, 3vw, 16px);
    }

    .registerbtn {
        position: relative;
        width: 56px;
    }

    .arrow {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .logo-download {
        flex-direction: row;
    }
}

@media only screen and (max-width: 490px) {

    .footer {
        height: 1080px;
    }

    .learnMore-social,
    .logo-download {
        flex-direction: column;
        gap: 40px;
    }

    h5 {
        font-size: clamp(20px, 3vw, 24px);
    }

    .footer-link {
        font-size: clamp(16px, 3vw,20px);
    }
    #email {
        padding-left: 10px;
    }
}

    /* end footer */

    /* footer2 */

.footer2 {
    position: relative;
    width: 100%;
    height: 95px;
    background-color: rgba(29, 36, 50, 1);
}

.footer2-menu {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 1140px; 
    width: 80.1%;
    height: 30px;
    margin: 32px auto auto auto;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 39px;
}

h6 {
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

h6.left {
    width: 208px;
}

h6.right-item {
    margin-bottom: 0;
    font-size: 16px;
}

        /* medium and lower screen */

@media only screen and (max-width:991.95px) {

    .right {
        gap: 10px;
    }

    .footer2-menu {
        width: 100%;
    }

    h6 {
        font-size: clamp(8px, 3vw,20px);
    }

    h6.left {
        width: auto;
    }

    h6.right-item {
        font-size: clamp(6px, 2vw,16px);
    }
}

@media only screen and (max-width:390px) {
    
    .footer2-menu {
        padding: 0 5px;
    }
    /* end-footer2 */